<h1 id="home-title">Raconte-moi une histoire</h1>

<div class="story-container">
  <h2 id="story-title" data-story-generator-target="title"></h2>
  <div id="flipbook">
      <div class="page story-page" id="story-content" data-story-generator-target="story"></div>
    </div>
  </div>
</div>

<div class="nav-buttons">
  <button data-action="click->story-generator#clickLeft">←</button>
  <button data-action="click->story-generator#clickRight">→</button>
</div>
