<div>
  <span style="color: #392061;">
    <i class="fa-solid fa-wand-sparkles"></i>
  </span>
  <%= image_tag "bibliotheque.png", width: 250 if Rails.application.assets.find_asset('bibliotheque.png') %>
</div>

<div data-controller="story-generator">
  <button data-action="click->story-generator#generate" class="btn-coral">Raconte-moi une histoire</button>
</div>

<h2 id="story-title"></h2>
<p id="story-content"></p>
