<h1>Hello from home</h1>

<p>Voici un exemple de police</p>

<button id="generate-story-btn">Raconte moi une histoire</button>

<h2 class="title">titre: <%=@response%></h2>

<p class="content">histoire: <%=@reponse%></p>
