<h1 id="home-title">Raconte-moi une histoire</h1>

<script>
  document.addEventListener("DOMContentLoaded", function () {
     console.log("turn.js loaded")
    $("#flipbook").turn({
      // width: 400,
      // height: 600,
      // size: 'stretch',

      autoCenter: true,
      display: 'single',
      gradients: true,
      acceleration: true,
      elevation: 0,
      inclination: 1,
      turnCorners: '',

    });


    // tentative fonction de swipe

    let touchStartX = 0;
      let touchEndX = 0;

      const flipbook = document.getElementById("flipbook");

      flipbook.addEventListener('touchstart', function (e) {
        touchStartX = e.changedTouches[0].screenX;
      }, false);

      flipbook.addEventListener('touchend', function (e) {
        touchEndX = e.changedTouches[0].screenX;
        handleSwipeGesture();
      }, false);

      function handleSwipeGesture() {
        const threshold = 50; // pixels à dépasser pour considérer un swipe
        if (touchEndX < touchStartX - threshold) {
          // Swipe vers la gauche → Page suivante
          $("#flipbook").turn("next");
        } else if (touchEndX > touchStartX + threshold) {
          // Swipe vers la droite → Page précédente
          $("#flipbook").turn("previous");
        }
      };

    });
  // fin de tentative fonction de swipe




</script>

<div class="story-container">
  <h2 id="story-title" data-story-generator-target="title">tittrre de l'histoire</h2>
  <div id="flipbook">
      <div class="story-page" id="story-content" data-story-generator-target="story">
        Le petit lapin curieux
Il était une fois un petit lapin nommé Lulu. Lulu adorait explorer la forêt. Un jour, il a découvert un joli papillon aux ailes jaunes. Le papillon a dit : "Suis-moi, Lulu !". Lulu a couru derrière le papillon à travers les fleurs colorées. Ils ont sauté par-dessus des ruisseaux et joué sous les grands arbres. À la fin de la journée, Lulu a appris que l'amitié est le plus beau des trésors. Et depuis ce jour, Lulu et le papillon étaient les meilleurs amis du monde.
      </div>
    </div>
  </div>
</div>
    <div class="nav-buttons">
      <button data-action="click->story-generator#prev">←</button>
      <button data-action="click->story-generator#next">→</button>
    </div>
