.btn-coral {
  background-color: #f07167;
  color: #1a1b25;
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  border: 1px solid #1a1b25;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: lighten(#f07167, 15%);
    color: #1a1b25;
  }
}
