@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  background-color: #fed9b7;
  color: #392061;
}
