/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


// Bootstrap

@import "bootstrap";


/* SCSS partials */

@import "components/index";
@import "pages/index";
@import "shared/index";


/* Global style */

body {
  font-family: "Spectral", serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  background-image:
    linear-gradient(135deg, #fed9b7 0%, #fcbf96 100%),
    url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: auto, auto;
  background-attachment: fixed;
  color: #392061;
  margin: 0;
  margin-bottom: 10%;
  padding: 5%;
  padding-bottom: 0;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mountains of Christmas", serif;
  text-align: center;
}

a {
  text-decoration: none;
}
